APP_ENV=development
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=troque_esta_chave_em_producao

# Banco de dados
DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=db.sqlite3
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_HOST=
# DATABASE_PORT=

# E-mail transacional com Resend SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=465
EMAIL_HOST_USER=resend
EMAIL_HOST_PASSWORD=coloque_sua_api_key_aqui
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=BaseApp <no-reply@seudominio.com>

# Segurança do fluxo de recuperação
PASSWORD_RESET_TIMEOUT=3600
APP_FORCE_HTTPS=False
SECURE_HSTS_SECONDS=31536000
STATIC_ROOT=staticfiles
