{% load django_bootstrap5 static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entrar</title>
    <link href="{% static 'vendor/tabler/css/tabler.min.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Entrar no sistema</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'vendor/tabler/js/tabler.min.js' %}"></script>
</body>
</html>
