{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Erro{% endblock %}</title>

    <link href="{% static 'vendor/tabler/css/tabler.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/tabler/icons/tabler-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body class="layout-fluid bg-body-tertiary">
    <div class="page">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xl py-5">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
